.Searchbox{
    display:flex;
    justify-content: center;
}

.Searchbox input{
    background-color: #c0c0c0;
    border-radius: 10px;
    box-sizing: border-box;
    padding:16px;
    height:60px;
    width:100%;
    font-size: 18px;
    font-weight: 600;
    color:white
}

.Searchbox input:focus{
    outline:none;
}