.HangmanCategories{
    background-color:darkblue;
    padding:32px;
    height:100%;
}

.HangmanCategories h1{
    color: white;
    white-space: nowrap;
}

.Main{
    width:80%;
    margin:auto;
}

.Main h2{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.BoxContainer{
   column-count: 2;
   column-width: 50%;
}

@media(max-width:600px){
    .BoxContainer{
        column-count: 1;
        column-width: 100%;
    }
}


@media(max-width:768px){
    .HangmanCategories h1{
       font-size: 18px;;
    }

    .Main{
        width:100%;
    }
}