.Answer{
    display:flex;
    justify-content: center;
    align-items: center;
}

.Alpha{
    width:40px;
    height:40px;
    color:white;
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
}